.main {
	position: relative;
    padding: 36px 20px;
    isolation: isolate;
}

.wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.controls {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

@media (max-width: 800px) {
	.wrap {
		padding: 12px;
	}
}
