@use "1-settings/_variables" as vars;

@use "2-tools/_animations";

@use "3-generic/_reset";

@use "4-elements/_base";

@use "5-objects/_layout";

@use "6-components/_header";
@use "6-components/_footer";
@use "6-components/_hero";
@use "6-components/_categories";
@use "6-components/_quiz";
@use "6-components/_carousel";

@use "7-utilities/_helpers";