body {
    margin: 0;
    padding-top: 95px;
    font-family: Inter, system-ui, Segoe UI, Roboto, Arial;
    background-color: var(--bg);
    background-image: 
        linear-gradient(rgba(255,255,255,0.9) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.9) 1px, transparent 1px);
    background-size: 20px 20px;
    color: var(--primary);
    -webkit-font-smoothing: antialiased;

    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.logo {
	margin: 0;
	font-size: 20px;
	letter-spacing: 0.6px;
}